{
  "DEBUG": true,
  "SECRET_KEY": "Any secret key",
  "DATABASES": {
    "default": {
      "ENGINE": "django.db.backends.postgresql",
      "HOST": "localhost",
      "NAME": "db_name",
      "USER": "user_name",
      "PASSWORD": "user_password"
    }
  }
}